## Variables:

In [1]:
number=100  #100 value is stored in variable called number
number      # so that number is variable

100

In [2]:
number=200
number

200

In [3]:
# so here first number has 100
#         second number has 200
# number is changing its value
# that's why we are calling number as variable

## Rules to define variables

In [4]:
# Upper case
NUMBER=300
NUMBER

300

In [5]:
# lower case
number=400
number

400

In [6]:
# combination of upper case and lower case
NUMber=500
NUMber

500

In [7]:
# Combination of Letters and numbers , numbers as suffix
number123=600
number123

600

In [8]:
# combination of Letters and numbers, number as prefix
123number=700
123number

SyntaxError: invalid syntax (1106185642.py, line 2)

In [10]:
# spl charcters
number%=800
number%

SyntaxError: invalid syntax (1051806080.py, line 3)

In [11]:
# Underscore
number_=900
number_

900

In [12]:
# Keywords
if=500
if

SyntaxError: invalid syntax (2858696603.py, line 2)

In [13]:
sum=700
sum

700

### Note
#### sum is a math operation it will works,but do not use as variable

In [14]:
number one=700
number one

SyntaxError: invalid syntax (2242041679.py, line 1)

In [15]:
number_one=700
number_one

700

In [17]:
_=900
_

900

In [ ]:
#### Ba