 # append

In [1]:
# add (something) to the end of a written document.

list1=[100,200]

# [100,200,300]

list1.append(300)
list1

[100, 200, 300]

In [2]:
list1=[]
list1.append(100)
list1.append(200)
list1.append(300)
list1

[100, 200, 300]

In [3]:
list1.append(100,200)

TypeError: list.append() takes exactly one argument (2 given)

In [4]:
list1.append([100,200])

In [5]:
list1

[100, 200, 300, [100, 200]]

In [6]:
list1.append('apple')

In [7]:
list1

[100, 200, 300, [100, 200], 'apple']

In [8]:
# Input list= [1,2,3,4,5]
# create a new list = [1,4,9,16,25]

# write a normal python code
list1=[1,2,3,4,5]
for i in list1:
    print(i*i)
    
# I don't want print the values, i want save the output in list

1
4
9
16
25

In [11]:
list1=[1,2,3,4,5]
output=[]
for i in list1:
    output.append(i*i)
    
output

[1, 4, 9, 16, 25]

In [ ]:
list2=['hyd','bengaluru','delhi']
# output=['Hyd','Bengaluru','Delhi']

In [13]:
list2=['hyd','bengaluru','delhi']
for i in list2:
    print(i.capitalize())

Hyd
Bengaluru
Delhi

In [14]:
list2=['hyd','bengaluru','delhi']
output=[]
for i in list2:
    output.append(i.capitalize())
    
output

['Hyd', 'Bengaluru', 'Delhi']

In [15]:
list2=['hyd','bengaluru','delhi']
output=[]
for i in list2:
    output.append(i.capitalize())
    
output

['h#d', 'beng#luru']

## List comprehenshion

In [18]:
# code in a single line ==== > speed the process
list1=[1,2,3,4,5] # input
output=[]
for i in list1:
    output.append(i*i)
    
output

# step1: initialized the list output=[]
# step2: iterate the loop
# step3: you save the output

output1=[i*i for i in list1]
output

# [<output> <for loop>]

[1, 4, 9, 16, 25]

In [19]:
 list2=['hyd','bengaluru','delhi']
output=[]
for i in list2:
    output.append(i.capitalize())
    
output    

# [<output> <forloop>]
output2=[i.capitalize() for i in list2]
output2

['Hyd', 'Bengaluru', 'Delhi']

In [24]:
# create the list of 20 numbers from 1 to 20

########################## M-1
# for i in range(1,21):
     #print(i)
    
########################## M-2
numbers=[]
for i in range(1,21):
    numbers.append(i)
numbers

########################## M-3

number2=[i for i in range(1,21)]
number2

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [ ]:
# List comprehenshion with if condition

In [25]:
list3=['h#d','beng#luru','delhi']
# output=['h#d','beng#luru']

output=[]
for i in list3:
    if '#' in i:
        output.append(i)
    
output 

# [<o/p>  <forloop> <if_condition>]

output1=[i for i in list3 if '#' in i ]
output1

['h#d', 'beng#luru']

In [27]:
list4=['abcd','abc','ac','a']
# element less than 3
# ['ac','a']

for i in list4:
    if len(i)<3:
        print(i)
        
output=[i for i in list4 if len(i)<3] 
output

ac
a

['ac', 'a']

In [29]:
# if else 

list1=[1,2,3,4,5,6]

for i in list1:
    if i%2==0:
        print("even:{}".format(i))
        
    else:
        print("odd:{}".format(i))

odd:1
even:2
odd:3
even:4
odd:5
even:6

In [30]:
list1=[1,2,3,4,5,6]
output=[]

for i in list1:
    if i%2==0:
        output.append("even:{}".format(i))
        
    else:
        output.append("odd:{}".format(i))
        
output

['odd:1', 'even:2', 'odd:3', 'even:4', 'odd:5', 'even:6']

In [32]:
# [<if_output> <if_condition> else <else_output> <for loop>]

output1=["even:{}".format(i) if i%2==0  else "odd:{}".format(i) for i in list1 ]
output1

['odd:1', 'even:2', 'odd:3', 'even:4', 'odd:5', 'even:6']

## count

In [33]:
list1=[1,2,3,'A','B','B','B','C']
list1.count('B')

3

In [35]:
count=0
for i in list1:
    if i=='B':
        count=count+1
        
print(count)

3

## Extend

In [36]:
list1=['A','B','C']
list2=[1,2,3]

list1.extend(list2)
list1

# here the list1 will be updated with list2 values

['A', 'B', 'C', 1, 2, 3]

In [37]:
list1=['A','B','C']
list2=[1,2,3]
list3=list1+list2
print(list3)

['A', 'B', 'C', 1, 2, 3]

In [38]:
# Difference b/w append and extend

In [39]:
list1=['A','B','C']
list2=[1,2,3]
list1.append(list2)
list1

['A', 'B', 'C', [1, 2, 3]]

In [40]:
list1=['A','B','C']
list2=[1,2,3]

list1.extend(list2)
list1

['A', 'B', 'C', 1, 2, 3]

## append vs extend vs concatnation

- append will add the element at last, that element canbe any type

         - list1=[1,2,3]
    
         - list2=['A','B']
        
         - list1.append(list2)=[1,2,3['A','B']]
            
            
- Extend will update the list by adding new elements, The result also save in a same list

         - list1=[1,2,3]
    
         - list2=['A','B']
        
         - list1.extend(list2)=[1,2,3,'A','B'] 
            
- Conctation will add two list,but the result will notupdate in a same list

         - list1=[1,2,3]
    
         - list2=['A','B']
        
         - list1+list2=[1,2,3,'A','B']

## iterator

- iterator word ===== > loop

- the element we can print using for loop

- string='python' we can print each letter using for loop

- list1=[1,2,3]   we can print each elemEnt using for loop

In [43]:
val=reversed('python')
val

In [44]:
for i in val:
    print(i)

n
o
h
t
y
p

In [49]:
list1=[1,2,3]
list1.extend('python')
list1.append('python')
list1

[1, 2, 3, 'p', 'y', 't', 'h', 'o', 'n', 'python']

## pop-remove-del

In [50]:
list1

[1, 2, 3, 'p', 'y', 't', 'h', 'o', 'n', 'python']

In [51]:
list1.pop()

'python'

In [52]:
list1

[1, 2, 3, 'p', 'y', 't', 'h', 'o', 'n']

In [54]:
list1
list1.pop(5)

# in side bracket default argument is there index=-1
# -1 means last value
# if you not provide any value 
# it will remove last value
# if i provide any index ,it will remove that element

# it is also returing , which element it is removing

't'

In [58]:
list1=[100,200,100,300] # duplicates are allowed
list1.remove(100)       # first occurrence will gone
list1                   # it will not return any value

[200, 100, 300]

In [59]:
del(list1)

In [60]:
list1

NameError: name 'list1' is not defined

In [61]:
list1=[100,200,100,300]
del list1[2]

list1

[100, 200, 300]

In [62]:
dir(list1)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

- index vs multiple values

- insert vs append

- reverse ========= reversed

- sort ============ sorted

- difference between reverse and sord

In [63]:
list1=['Ram','Robert','Raheem']
list2=[25,30,35]

# 'Ram age is 25'
# 'Robert are is 30'
# 'Raheem age is 35'

for i in list1:
    print(i)

Ram
Robert
Raheem

In [65]:
for i,j in zip(list1,list2):
    print("{} age is {}".format(i,j))

Ram age is 25
Robert age is 30
Raheem age is 35

In [66]:
list1=[100,200,300]
list2=[25,30,35]

# output=[125,230,335]

output=[i+j for i,j in zip(list1,list2)]
output

[125, 230, 335]