how to read the python

In [1]:
string1='python' 
string1

'python'

In [2]:
string2="python"
string2

'python'

In [3]:
#### Triple quotes

#Doc string is used to say some information about your python code

In [ ]:
""""""
im creating a hello world function
arguments: None
return: None
"""
def hello():
    print("good morning")

In [ ]:
'hello python' # I want highlite python

In [4]:
string3='hello "python"'
print(string3)

hello "python"

In [5]:
string4="hello 'python'"
print(string4)

hello 'python'

- type 
- len
- max 
- min

type:

In [6]:
string1

'python'

In [7]:
type(string1)

str

len:

In [8]:
len(string1)

6

$max$-$min$

In [9]:
string1='pP'
max(string1)     # ASCII
                 # 'A': 65       'a':97

'p'

$ord$-$chr$

In [10]:
ord('p') # It will provide ascii value of char

112

In [11]:
ord('P')

80

In [12]:
string1='python'
max(string1),min(string1)

('y', 'h')

In [13]:
ord('p'),ord('y'),ord('t'),ord('h'),ord('o'),ord('n')

(112, 121, 116, 104, 111, 110)

In [14]:
chr(112),chr(121),chr(116),chr(104),chr(111),chr(110)

('p', 'y', 't', 'h', 'o', 'n')

In [15]:
for i in range(len('python')):# range ====math
    print(i)

0
1
2
3
4
5

In [16]:
# I want print p y t h o n

in

In [17]:
string1='python'

'p' in string1
'y' in string1
't' in string1
'h' in string1
'o' in string1
'n' in string1

True

In [18]:
for i in string1:
    print(i)

p
y
t
h
o
n

- range() : you need to provide number inside the range
- in : is use only for string

- if you print the letters using the loop go for in operator

In [19]:
print(ord('p'))
print(ord('y'))
print(ord('t'))
print(ord('h'))
print(ord('o'))
print(ord('n'))

print(ord(i))

112
121
116
104
111
110
110

In [20]:
for i in string1:
    print("the ascii value of {} is {}".format(i,ord(i)))

the ascii value of p is 112
the ascii value of y is 121
the ascii value of t is 116
the ascii value of h is 104
the ascii value of o is 111
the ascii value of n is 110

In [21]:
for i in 'ABCDEFGHIJKLMNOPQRSTWXYZ':
    print("the ascii value of {} is {}".format(i,ord(i)))

the ascii value of A is 65
the ascii value of B is 66
the ascii value of C is 67
the ascii value of D is 68
the ascii value of E is 69
the ascii value of F is 70
the ascii value of G is 71
the ascii value of H is 72
the ascii value of I is 73
the ascii value of J is 74
the ascii value of K is 75
the ascii value of L is 76
the ascii value of M is 77
the ascii value of N is 78
the ascii value of O is 79
the ascii value of P is 80
the ascii value of Q is 81
the ascii value of R is 82
the ascii value of S is 83
the ascii value of T is 84
the ascii value of W is 87
the ascii value of X is 88
the ascii value of Y is 89
the ascii value of Z is 90

In [22]:
# package_name: string
import string

In [23]:
dir(string)

['Formatter',
 'Template',
 '_ChainMap',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_re',
 '_sentinel_dict',
 '_string',
 'ascii_letters',
 'ascii_lowercase',
 'ascii_uppercase',
 'capwords',
 'digits',
 'hexdigits',
 'octdigits',
 'printable',
 'punctuation',
 'whitespace']

In [24]:
# see the output of : ascii_uppercase
string.ascii_uppercase

'ABCDEFGHIJKLMNOPQRSTUVWXYZ'

In [25]:
for i in string.ascii_uppercase:
    print("the ascii value of {} is {}".format(i,ord(i)))

the ascii value of A is 65
the ascii value of B is 66
the ascii value of C is 67
the ascii value of D is 68
the ascii value of E is 69
the ascii value of F is 70
the ascii value of G is 71
the ascii value of H is 72
the ascii value of I is 73
the ascii value of J is 74
the ascii value of K is 75
the ascii value of L is 76
the ascii value of M is 77
the ascii value of N is 78
the ascii value of O is 79
the ascii value of P is 80
the ascii value of Q is 81
the ascii value of R is 82
the ascii value of S is 83
the ascii value of T is 84
the ascii value of U is 85
the ascii value of V is 86
the ascii value of W is 87
the ascii value of X is 88
the ascii value of Y is 89
the ascii value of Z is 90

In [26]:
for i in string.ascii_lowercase:
    print("the ascii value of {} is {}".format(i,ord(i)))

the ascii value of a is 97
the ascii value of b is 98
the ascii value of c is 99
the ascii value of d is 100
the ascii value of e is 101
the ascii value of f is 102
the ascii value of g is 103
the ascii value of h is 104
the ascii value of i is 105
the ascii value of j is 106
the ascii value of k is 107
the ascii value of l is 108
the ascii value of m is 109
the ascii value of n is 110
the ascii value of o is 111
the ascii value of p is 112
the ascii value of q is 113
the ascii value of r is 114
the ascii value of s is 115
the ascii value of t is 116
the ascii value of u is 117
the ascii value of v is 118
the ascii value of w is 119
the ascii value of x is 120
the ascii value of y is 121
the ascii value of z is 122

In [27]:
for i in string.punctuation:
    print("the ascii value of {} is {}".format(i,ord(i)))

the ascii value of ! is 33
the ascii value of " is 34
the ascii value of # is 35
the ascii value of $ is 36
the ascii value of % is 37
the ascii value of & is 38
the ascii value of ' is 39
the ascii value of ( is 40
the ascii value of ) is 41
the ascii value of * is 42
the ascii value of + is 43
the ascii value of , is 44
the ascii value of - is 45
the ascii value of . is 46
the ascii value of / is 47
the ascii value of : is 58
the ascii value of ; is 59
the ascii value of < is 60
the ascii value of = is 61
the ascii value of > is 62
the ascii value of ? is 63
the ascii value of @ is 64
the ascii value of [ is 91
the ascii value of \ is 92
the ascii value of ] is 93
the ascii value of ^ is 94
the ascii value of _ is 95
the ascii value of ` is 96
the ascii value of { is 123
the ascii value of | is 124
the ascii value of } is 125
the ascii value of ~ is 126

In [28]:
for i in range(1,50):
    print(chr(i))


































!
"
#
$
%
&
'
(
)
*
+
,
-
.
/
0
1

In [29]:
for i in range(33,127):
    print(i,chr(i))
    
# start with 33
# end with 126
# ascii:

33 !
34 "
35 #
36 $
37 %
38 &
39 '
40 (
41 )
42 *
43 +
44 ,
45 -
46 .
47 /
48 0
49 1
50 2
51 3
52 4
53 5
54 6
55 7
56 8
57 9
58 :
59 ;
60 <
61 =
62 >
63 ?
64 @
65 A
66 B
67 C
68 D
69 E
70 F
71 G
72 H
73 I
74 J
75 K
76 L
77 M
78 N
79 O
80 P
81 Q
82 R
83 S
84 T
85 U
86 V
87 W
88 X
89 Y
90 Z
91 [
92 \
93 ]
94 ^
95 _
96 `
97 a
98 b
99 c
100 d
101 e
102 f
103 g
104 h
105 i
106 j
107 k
108 l
109 m
110 n
111 o
112 p
113 q
114 r
115 s
116 t
117 u
118 v
119 w
120 x
121 y
122 z
123 {
124 |
125 }
126 ~

In [30]:
string.printable

# digts
# Lower
# upp
# punct

'0123456789abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~ \t\n\r\x0b\x0c'

In [31]:
# WAP ask the user find the number of 'a' Letters in a given string
# string='hai how are you and how do you do'
# ans:3

# count=0
# first iterate the string using in and for loop
# print each Letter === > i
# apply the if condition   i=='a'
#                          count+=1

In [32]:
string='hai how are you and how do you do'
count=0
for i in string:
   # print(i)
    if i=='a':
        count=count+1
        
print(count)

3

In [33]:
# WAP count the number of vowel in a given string
# string='hai how are you'
# 7

string='hai how are you'
count=0
for i in string:
    if i in 'aeiou':
        count=count+1
        
print(count)

7

In [34]:
# WAP count the number of unique vowels in given string
# and:5

string1=''
for i in 'python':
    string1=string1+i
    
print(string1)

python

In [35]:
string='hai how are you'
str1=''
count=0
for i in string:
    if i in 'aeiou':
        count=count+1
        
print(count)

7

# concatenation

In [36]:
str1='hai'
str2='how'
str1+str2

'haihow'

In [37]:
str1-str2
str1*str2
str1/str2

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [ ]:
3*str1

In [ ]:
str1+str1+str1

# index

In [38]:
string1='python' # 6 letter

In [43]:
p  y  t  h  o  n
0  1  2  3  4  5

SyntaxError: invalid syntax (2024787582.py, line 1)

In [40]:
string1[0],string1[1],string1[2],string1[3],string1[4],string1[5]

('p', 'y', 't', 'h', 'o', 'n')

In [44]:
for i in range(5):
    print(string1[i])
    
#i=0 ====== string1[0]====='p' 
#i=1 ====== string1[1]====='y'

# i ===== will give index
# string[i] ===== Letter

p
y
t
h
o

In [49]:
string1='python'

# i want to print Letters using in operator
# i want to print Letters using range operator
for i in string1:
    print(i)

p
y
t
h
o
n

In [50]:
for i in range(len(string1)):
    print(i,string1[i])

0 p
1 y
2 t
3 h
4 o
5 n