In [18]:
list1=[1,2,3,4]
list1

[1, 2, 3, 4]

In [19]:
list2=['a','b','c','d']
list2

['a', 'b', 'c', 'd']

In [20]:
list3=[1,2,3,4,'A','B','c']
list3

[1, 2, 3, 4, 'A', 'B', 'c']

In [21]:
list4=[1,'apple',2,10+20j]
list4

[1, 'apple', 2, (10+20j)]

- list is a array of elements
- list elements heterogeneous(different) data types are allowed
- duplicates are allowed
- lists in lists also works

In [22]:
list5=[100,100,100]
list5

[100, 100, 100]

## list

In [23]:
type(list3)

list

## max

In [24]:
list1

[1, 2, 3, 4]

In [25]:
list2

['a', 'b', 'c', 'd']

In [26]:
print(max(list1)) # 4
print(max(list2)) # D ===== > ascii ord
print(max(list3)) # error we can't compare different data type

4
d

TypeError: '>' not supported between instances of 'str' and 'int'

In [27]:
print(min(list1))
print(min(list2))
print(min(list3))

1
a

TypeError: '<' not supported between instances of 'str' and 'int'

In [28]:
print(len(list1))
print(len(list2))
print(len(list3))

4
4
7

$sum$

In [30]:
print(list1)
print(sum(list1))

[1, 2, 3, 4]
10

In [31]:
print(list2)
print(sum(list2))

['a', 'b', 'c', 'd']

TypeError: unsupported operand type(s) for +: 'int' and 'str'

- sum
- eval
- range

In [32]:
list1

[1, 2, 3, 4]

In [36]:
1 in list1
2 in list1
3 in list1
4 in list1

i in list1

NameError: name 'i' is not defined

In [37]:
for i in list1:
    print(i)

1
2
3
4

$concatenation$

In [39]:
list1

[1, 2, 3, 4]

In [40]:
list2

['a', 'b', 'c', 'd']

In [41]:
print(list1+list2)
print(list2+list1)

[1, 2, 3, 4, 'a', 'b', 'c', 'd']
['a', 'b', 'c', 'd', 1, 2, 3, 4]

In [42]:
new_list=list1+list2
new_list

[1, 2, 3, 4, 'a', 'b', 'c', 'd']

In [43]:
list1*3  # list1+list1+list1

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [ ]:
list1-list2 # Fail
list1*list2 # Fail
list1/list2 # Fail

# 'a'/'b'

$index$

In [45]:
list3

[1, 2, 3, 4, 'A', 'B', 'c']

In [47]:
# Python index start with zero
list3[0],list3[1],list3[2],list3[3]

# list3[i]
# i= 0 1 2 3

(1, 2, 3, 4)

In [ ]:
list3[-1]

-7 -6 -5 -4 -3 -2 -1 
1  2  3  4   A  B  C  
0  1  2  3   4  5  6

In [66]:
for i in range(len(list3)):
    print('postive index is: {} and negative index is {}: for an element {}'.format(i,i-len(list3),list3[i]))

postive index is: 0 and negative index is -7: for an element 1
postive index is: 1 and negative index is -6: for an element 2
postive index is: 2 and negative index is -5: for an element 3
postive index is: 3 and negative index is -4: for an element 4
postive index is: 4 and negative index is -3: for an element A
postive index is: 5 and negative index is -2: for an element B
postive index is: 6 and negative index is -1: for an element c

In [51]:
for i in range(len(list3)):
    print(i,list3[i])

0 1
1 2
2 3
3 4
4 A
5 B
6 c

In [ ]:
# WAP find the elements which are having len<3
# List=['Apple','Ball','Cat','Ab','cd','Ef']

# step-1: iterate the list using for loop
# step-2: apply the if condition len(<element>)<3:
# step-3:            print(element)

In [72]:
list1=['Apple','Ball','cat','Ab','cd','Ef']
for i in range(len(list1)):
    
    if len(list1[i])<3:
        print(list1[i])

Ab
cd
Ef

In [71]:
for i in list1:
    if len(i)<3:
        print(i)

Ab
cd
Ef

In [ ]:
# WAP find the elements which are having #
# List=['App#e','B#ll','C#t','Ab','cd','Ef']

# step-1: iterate the list using for loop
# step-2: apply the if condition :
# step-3:            print(element)

In [75]:
list1=['App#e','B#ll','C#t','Ab','cd','Ef']
for i in list1:
    if '#' in i:
        print(i)

App#e
B#ll
C#t

In [78]:
list1=['App#e','B#ll','C#t','Ab','cd','Ef']
count=0
for i in list1:
    if '#' in i:
        count=count+1
        
print(count)

3

In [79]:
list1=[1,2,3,['Apple','Ball']]

# retrieve the ball using index
# In the given list how many elements are there: 4

list1[3][1]

'Ball'

In [86]:
list2=[[[[[[['cherry']]]]]]]
list2[0][0][0][0][0][0][0]

'cherry'

In [87]:
list3=[[[['A','B',[[[1,2,3,['car']]]]]]]]
# retrieve the car

list3[0][0][0][2][0][0][3][0]

'car'

$Mutable$

In [88]:
string1='welcome'
# 'l' to 'L'
string1[2]='L'

# Strings are immutable

TypeError: 'str' object does not support item assignment

In [89]:
list1=['A','B','C']
list1[0]=100
list1

[100, 'B', 'C']

In [90]:
# List are mutable

$Slice$

In [94]:
list1=[10,20,30,40,50,'P','Y','T','H','o','N','a','b','c','D']

print(list1[2:14:3]) # p
print(list1[2:14:-3]) # np
print(list1[2:-14:3])   # np
print(list1[2:-14:-3])  # p
print(list1[-2:14:3])   # p
print(list1[-2:-14:3])  # np
print(list1[-2:-14:-3])  # p
print(list1[2:14:-3])    #np

[30, 'P', 'H', 'a']
[]
[]
[30]
['c']
[]
['c', 'N', 'T', 50]
[]

- Reading
-Different way to provide elements
-type/min/max/sum/len
-in
-concatenation
-index
-mutable
-slice

In [95]:
dir([])

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

$clear$-$copy$

In [98]:
list1=[1,2,3,4]

# I want any this elemen's in a list2
list2=list1.copy()
list2

list1.clear()

print('list1:',list1) #[]
print('list2:',list2)  # [1,2,3,4]

list1: []
list2: [1, 2, 3, 4]