In [1]:
dir({})


# str=''
# List=[]
# dict={}

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

## items-keys-values

In [2]:
d1={'Ram':25,
    'Raheem':30,
    'Robert':35}
d1

{'Ram': 25, 'Raheem': 30, 'Robert': 35}

In [3]:
# items

items=d1.items()
items

dict_items([('Ram', 25), ('Raheem', 30), ('Robert', 35)])

In [4]:
type(items)

dict_items

In [5]:
# keys
keys=d1.keys()
keys

dict_keys(['Ram', 'Raheem', 'Robert'])

In [6]:
# values
values=d1.values()
values

dict_values([25, 30, 35])

In [7]:
type(values)

dict_values

In [8]:
l1=[25,30,35]
l1.append(400)
l1

[25, 30, 35, 400]

In [9]:
l1=[25,30,35]
l1.append(400)
l1

[25, 30, 35, 400]

In [10]:
values         # I want to convert in to a list
values_list=list(values) # Then you can apply the list method
values_list

[25, 30, 35]

In [11]:
keys_list=list(keys)
keys_list

['Ram', 'Raheem', 'Robert']

In [12]:
# Q-1  I will give the dictionary
#     can you extract keys and values in list

# Q-2 I will give two list keys and values
#    can you create a dictionary

In [13]:
d1={'Ram':25,
    'Raheem':30,
    'Robert':35}

keys=list(d1.keys())
values=list(d1.values())

In [14]:
keys,values

(['Ram', 'Raheem', 'Robert'], [25, 30, 35])

In [15]:
{i:j for i,j in zip(keys,values)}

{'Ram': 25, 'Raheem': 30, 'Robert': 35}

In [16]:
d1={}
for i in range (len(keys)):
    d1[keys[i]]=values[i]    # d1[keys[0]]=values[0]  d1['Ram']=25
    
d1

{'Ram': 25, 'Raheem': 30, 'Robert': 35}

In [17]:
dict(zip(keys,values))

{'Ram': 25, 'Raheem': 30, 'Robert': 35}

In [31]:
s1='Virat.kohli@blr.com,Rohit.sharma@mumbai.com,kl.rahul@lucknow.com'

# {'first_name':['Virat','Rohit','KL'],
# 'second_name':['kohli','sharma','rahul']
#  'company':['blr','mumbai','lucknow']}

In [32]:
s1.split(',')

['Virat.kohli@blr.com', 'Rohit.sharma@mumbai.com', 'kl.rahul@lucknow.com']

In [33]:
str1='Virat.kohli@blr.com'

In [37]:
d1={}
f_name=[str1[:str1.find('.')] for str1 in s1.split(',')]

s_name=[str1[str1.find('.')+1:str1.find('@')] for str1 in s1.split(',')]

c_name=[str1[str1.find('@')+1:str1.find('.',str1.find('.')+1)] for str1 in s1.split(',')]

f_name,s_name,c_name

d1['First name']=f_name
d1['Second name']=s_name
d1['Company name']=c_name

d1

{'First name': ['Virat', 'Rohit', 'kl'],
 'Second name': ['kohli', 'sharma', 'rahul'],
 'Company name': ['blr', 'mumbai', 'lucknow']}

In [40]:
str1='can can you canner can you able to can canner'

#{'can':4,'you':2,'canner':2,'able':1,'to':1}

# d={}
# step-1: split the str1 =========== > you will get a list
# step-2: iterate through loop =======> each word will print
# step3: list1.count(<word>): number
# step4: make a dictionary

In [41]:
str1='can can you canner can you able to can canner'
l1=str1.split(' ')
d1={}

for i in l1:
    d1[i]=l1.count(i)
    
d1

{'can': 4, 'you': 2, 'canner': 2, 'able': 1, 'to': 1}

In [47]:
keys=list(d1.keys())

In [48]:
values=list(d1.values())

In [49]:
keys,values

(['can', 'you', 'canner', 'able', 'to'], [4, 2, 2, 1, 1])

In [50]:
i=max(values)

In [51]:
values.index(i)

0

In [54]:
keys[values.index(max(values))]

'can'

In [ ]:
d1={'a':20,'b':30,'c':40}
d2={'a':50,'b':100,'c':200}

# o/p={'a':70,'b':130,'c':240}

In [ ]:
d1={'a':20,'b':30,'c':40,'d':500}
d2={'a':50,'b':100,'c':200}

# o/p={'a':70,'b':130,'c':240,'d':500}

In [56]:
d1={'a':20,'b':30,'c':40}
d2={'a':50,'b':100,'c':200}

for i in d1:
    d1[i]+=d2[i]
    
d1

{'a': 70, 'b': 130, 'c': 240}

In [57]:
d1={'a':20,'b':30,'c':40}
d2={'a':50,'b':100,'c':200}

d3={}
if len(d1)==len(d2):
    for i in d1:
        d3[i]=d1[i]+d2[i]
        
d3

{'a': 70, 'b': 130, 'c': 240}

In [58]:
d1={'a':20,'b':30,'c':40,'d':500}
d2={'a':50,'b':100,'c':200}

for i in range(min(len(d1),len(d2))):
    d1[list(d1.keys())[i]]+=d2[list(d2.keys())[i]]
    
d1

{'a': 70, 'b': 130, 'c': 240, 'd': 500}