In [1]:
list1=['Ram','Raheem','Robert']

list2=[25,30,35]

In [2]:
for i,j in zip(list1,list2):
    print(i,j)

Ram 25
Raheem 30
Robert 35

In [3]:
#{key:value}

In [4]:
d1={'Ram':25,'Raheem':30,'Robert':35}
d1

{'Ram': 25, 'Raheem': 30, 'Robert': 35}

In [5]:
d2={25:'Ram',30:'Raheem',35:'Robert'}
d2

{25: 'Ram', 30: 'Raheem', 35: 'Robert'}

In [6]:
d3={'even':[2,4,6],'odd':[3,5,7]}
d3

{'even': [2, 4, 6], 'odd': [3, 5, 7]}

In [7]:
d4={[2,4,6]:'even',[3,5,7]:'odd'}
d4

TypeError: unhashable type: 'list'

In [ ]:
d4={(2,4,6):'even',(3,5,7):'odd'}
d4

In [ ]:
# {'key':<{}>}
d5={'item_list':{'fruits''Apple'}}
d5

In [ ]:
d6={{'fruits':'Apple'}:'item_list'}
d6

In [ ]:
a=[1,2]
b=(1,2)

In [ ]:
a,b=[1,2]
c,d=(1,2)

In [ ]:
a

In [ ]:
b

In [ ]:
a=1,2
a

- Dictionary is a key:value pair
- at values position you can take any data type
- at keys position list and dictionary will fail
- duplicate are nit allowed
- If you will update a key value,latest value it will take

In [ ]:
d1={'A':1,'B':2,'A':1}
d1

In [ ]:
d1={'A':1,'B':2,'A':3}
d1

- type

In [ ]:
type(d1)

- str 

- list

- dict

- int

- float

- complex

- tuple

- set

In [ ]:
d1={'Ram':25,'Raheem':30,'Robert':35}
max(d1)

# This max we are getting based on key or value

In [ ]:
d1={'Ram':25,'Raheem':30,'Robert':3}
max(d1)

- max and min value based on key only

In [ ]:
d1={'Ram':25,'Raheem':30,'Robert':35}
min(d1)

In [ ]:
len(d1)

In [ ]:
sum(d1)

In [ ]:
d2={1:2,3:4}
sum(d2)

In [ ]:
d2={100:'2' ,300:'4'}
sum(d2)

- if key has numeric then we can do sum

- type
- len
- max
- min
- sum

## in

In [ ]:
d1={'Ram':25,
    'Raheem':30,
    'Robert':35}

# 'Ram':25  in d1 fail
# 'Ram' in d1  # works
# 25 in d1    #fails

In [ ]:
for i in d1:
    print(i)

In [ ]:
str1='apple'
'a' in str1

l1=[1,2,3]
1 in l1

for i in l1:
    print(i)

## index

In [ ]:
l1=[10,20,30,40]
l1[0]

In [ ]:
str1='apple'
str1[0]

In [ ]:
d1={'Ram':25,
    'Raheem':30,
    'Robert':35}

d1['Ram']

# can we get values using for loop

In [ ]:
for key in d1:
    print("The age of {} is {}".format(key,d1[key]))

In [ ]:
for i in range(len(l1)):
    print(i,l1[i])

In [ ]:
for key in range(len(d1)):
    print(key)
    # print("The age of {} is {}".format(key,d1[key])) # Not possible

## Create a empty dictionary and update

In [ ]:
s=''
for i in 'apple':
    s=s+i
    
print(s)

In [ ]:


l=[]
for i in range(10):
    l.append(i)
    
l

In [ ]:
d1={}
d1['fruite']='Apple'
d1

In [ ]:
# Wap create a dictionary based on two list
# name=['Ram','Raheem','Robert']
# age=[25,30,35]
# d1={'Ram':25,'Raheem':30,'Robert':35}

In [ ]:
names=['Ram','Raheem','Robert']
age=[25,30,35]

for i in range(len(names)):
    print(i,names[i],age[i])

In [ ]:
names=['Ram','Raheem','Robert']
age=[25,30,35]

dict1={}

for i in range(len(names)):
    dict1[names[i]]=age[i]
    
dict1={names[i]:age[i] for i in range(len(names))} 
dict1

In [ ]:
names=['Ram','Raheem','Robert']
age=[25,30,35]

dict1={}

for i,j in zip(names,age):
    dict1[i]=j  

dict1={i:j for i,j in zip(names,age)}
dict1

In [8]:
# WAP take 5 random numbers
# and creat dictionary with even or odd

# output: {'even':[20,22],'odd':[19,21,23]}

# step-1: take empty dictionary
# step-2: take two even and odd list
# step-3: import random
# step-4: for I in range (5):
# step-5:    num=random.randint(a,b)
# step-6:    if <even>:
# step-7:    append the value in even list
# step-8:    else:
# step-9:        append the value in odd list
# step-10: create dictinary

In [ ]:
dict1={}
even=[20,22]
odd=[19,21,23]
import random
for i in range(5):

In [9]:
import os

In [10]:
os.getcwd()

'C:\\Users\\sony\\ DATA SCIENCE  NARESH IT'