In [4]:
# create basic function

## one arguments

In [5]:
def add(x):
    return(x+10)

add(20)

30

In [8]:
def add(x):
    summ=x+10
    return(summ)

add(20)

30

In [9]:
def add(x):
    return(x+10)

add(20)

# how many argument are present?  x
# what you are returning?   x+10

# format: lambda <argument>:<output>

30

In [10]:
add=lambda x:x+10
add(20)

30

In [ ]:
def square(x):
    return(x*x)

In [13]:
square=lambda a:a*a
square(5)

25

In [ ]:
def cube(x):
    return(x*x*x)

In [15]:
cube=lambda a:a*a*a
cube(30)

27000

## two argument

In [17]:
def add(a,b):
    return(a+b)

add(20,30)

# how many argument are present?  a,b
# what you are returning?   a+b

# format: lambda <arg1>,<arg2>:<output>

50

In [18]:
add=lambda a,b:a+b
add(20,30)

50

In [20]:
# implement average of 3 numbers using lambda
avrg=lambda a,b,c:(a+b+c)/3
avrg(5,5,5)

5.0

In [22]:
# implement average make c as default parameter

avrg=lambda a,b,c=30:round((a+b+c)/3,2)
avrg(20,30)

26.67

## if-else

In [26]:
# create a function for finding greater number bbetween two numbers

def greater(n1,n2):
        if n1>n2:
            return(n1)
        else:
            return(n2)
        
greater(100,200)

200

In [28]:
l1=[]
def greater(n1,n2):
        if n1>n2:
            l1.append(n1)
        else:
            l1.append(n2)
        
greater(100,200)

In [29]:
l1=[<if_output> <if_condition> else <else_op> <loop>]

[200]

In [30]:
def greater(n1,n2):
        if n1>n2:
            return(n1)
        else:
            return(n2)
        
greater(100,200)  

# format: 

# lambda <arg1>,<arg2>: <if_output> <if_condition> else <else_output>

In [31]:
greater=lambda a,b: (a if a>b else b)
greater(8,3)

8

- lambad function is nothing but create a function

- one argument

- multipule arguments

- if else condition

- if else condition same like list compehension

In [34]:
list1=['hyd','mumbai','chennai']

# output: ['Hyd','Mumbai','chennai']

# M-1: use append method

list2=[]
for i in list1:
    list2.append(i.capitalize())
    
print(list2)    

# M-2: use list comprhension

[i.capitalize() for i in list1]

# M-3 make a lambda function

['Hyd', 'Mumbai', 'Chennai']

['Hyd', 'Mumbai', 'Chennai']

In [ ]:
lambda <arguments>: <output>,<iterator>

In [36]:
# Whenever you use iterations

# iteration: somthing can be iterbale/ you can print using for loop

# list , string , tuple , dictionary

In [ ]:
lambda <arguments>: <output>,<iterator>

[i.capitalize() for i in list1]

In [38]:
list1=['hyd','mumbai','chennai']
lambda i:i.capitalize(),list1

(<function __main__.<lambda>(i)>, ['hyd', 'mumbai', 'chennai'])

In [ ]:
lambda <arg>:<output>

In [ ]:
- next thing is map input and output

In [39]:
list1=['hyd','mumbai','chennai']
map(lambda i:i.capitalize(),list1)

In [ ]:
- store the output

In [40]:
list(map(lambda i:i.capitalize(),list1))

['Hyd', 'Mumbai', 'Chennai']

- first make a lambda function

- second add your iterator

- map both function and iterator

- save the result in a list

In [41]:
list1=['hyd','mumbai','chennai']
lambda i:i.capitalize(),list1
map(lambda i:i.capitalize(),list1)
list(map(lambda i:i.capitalize(),list1))

['Hyd', 'Mumbai', 'Chennai']

In [42]:
list1=[1,2,3,4,5]
# [1,4,9,16,25]
lambda i:i*i,list1

(<function __main__.<lambda>(i)>, [1, 2, 3, 4, 5])

In [44]:
list(map(lambda i:i*i,list1))

[1, 4, 9, 16, 25]

In [45]:
list1=[1,2,3]
list2=[11,22,33]

# [12,24,36]

for i,j in zip(list1,list2):
    print(i+j)

12
24
36

In [46]:
list(map(lambda i,j:i+j,list1,list2))

[12, 24, 36]

In [47]:
list1=['h#d','mum#bai','chennai']
#['h#d','mum#bai']
list2=[]
for i in list1:
    if '#' in i:
        list2.append(i)
print(list2)

['h#d', 'mum#bai']

In [49]:
 [i for i in list1 if '#' in i]

['h#d', 'mum#bai']

In [ ]:
#lambda <argument>:<condition>,<iterator>

In [51]:
list1=['h#d','mum#bai','chennai']
list(map(lambda i: '#' in i,list1))

[True, True, False]

In [52]:
list1=['h#d','mum#bai','chennai']
list(filter(lambda i: '#' in i,list1))

['h#d', 'mum#bai']

In [1]:
list1=['h#d','mum#bai','chennai']
'#' in 'h#d'  # '#' in i
'#' in 'mum#bai'

True

#  file handiling session

whenever you want to read any file

- .text

- .csv   (comma separated value)

- .xlsx

- .json  (dictionary format)

- .xml    (IOT data)

- .parquet  (encoded file)

- .delta    (encoded file)

- .pdf

- .jpg

- .png

- whare is your file located: 

- what is your file name

- what is the type of file (extention)

In [ ]:
C:\Users\sony\Downloads
    
example (1)

(.pdf)

In [ ]:
file_location="C:\Users\sony\Downloads"

file_name= example (1)

extention=".pdf"

In [ ]:
file_location+file_name+extenction

In [6]:
"C:\Users\sony\Downloads"+example (1)+".pdf"

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 2-3: truncated \UXXXXXXXX escape (2211670317.py, line 1)

In [ ]:
- unicode error : single slash
    
- in  order to read the file, we need provide '\\'

In [11]:
"C:\\Users\\sony\\Downloads\\example (1).pdf"

'C:\\Users\\sony\\Downloads\\example (1).pdf'

In [15]:
file_path="C:\\Users\\sony\\Downloads\\example (1).pdf"
file_path

'C:\\Users\\sony\\Downloads\\example (1).pdf'

In [16]:
open(file_path,encoding='utf-8')

# mode: read: r/write:w
# encoding: cp1252/utf-8

- whenever any file has spl charcters it will not read

- that time you need to provide encoding value

- different encoding files has different encoding method

- 'utf-8'/'cp-1252'

In [24]:
file_path="C:\\Users\\sony\\Downloads\\example (1).pdf"
file=open(file_path,encoding='utf-8')
print(file.read())

# \n: new line
# \t: tab

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xc7 in position 10: invalid continuation byte